/********************************** MENU******************************/

/*** Nav Bar ******/
/*fixed position*/
.headermenu {
    background-color: black;
    position: fixed;
    top: 0;
    width: 78.5%;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.navlist {
    list-style-type: none;
    overflow: hidden;
    background-color: black;
    border-radius: 5px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
}   
li {
    float: left;
} 
.link {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "carving-bold";
}
.link2 {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    font-family: "carving-bold";
    padding: 14px 16px;
} 
li a:hover {
    color: teal;
}
.searchbar {
    float: right;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 25px;
    padding: 10px;
    border-radius: 5px;
    font-family: "carving-regular";
    border-style: none;
    margin-left: 25px;
}
/* bottom link menu */
.navlist2 {
    margin: 0px;
    list-style-type: none;
    overflow: hidden;
    background-color: black;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    }
/*Hamburger menu*/
.menu {
    display: none;
  }
#hamburgermenu {
    display: none;
}
/*Media Querries hamburger menu*/
@media only screen and (max-width: 1065px){
    .navbar {
        position: relative;
        display: inline-block;
    }
    .hamburgermenu {
        display: none; 
    }
    .menu {
        cursor: pointer;
        padding: 10px;
        display: block;
        color: white;
        font-family: "carving-bold";
        margin-left: 15px;
    }
    .menu:hover{
        color: teal;
    }
    .navlist {
        list-style: none;
        padding: 0;
        margin: 0;
        display: none; 
        position: absolute;
        top: 40px; 
        left: 0;
        z-index: 1;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }
    .navlist2 {    
        margin: 0;  
        padding: 0; 
        width: 100%;  
        list-style-type: none;    
        background-color: black; 
        border-top-left-radius: 5px;    
        border-top-right-radius: 5px;    
        bottom: 0;    
    }
    .hamburgermenu:checked + .menu + .navlist {
        display: flex;
        flex-direction: column;
    }
    .navlist li {
        text-align: left; 
    }
    .navlist li a {
        text-decoration: none;
        padding: 10px;
        display: block;   
    }
    .searchbar {
    margin-bottom: 25px;
    }
    .hamburgermenu2:checked + .menu2 + .navlist2 {
        display: flex;
        flex-direction: column;
    }
    .link2{
    padding-top: 14px;
      padding-right: 16px;
      padding-bottom: 14px;
      padding-left: 25px;
    }
    .headermenu {
        padding-bottom: 6px;
    }
}
/***************************** footer ************************/

.fansitefooter {
    border-radius: 5px;
    position: fixed;
    bottom: 0px;
    width: 78.5%;
  }
.footer {
    margin-right: 11.5%;
    margin-left: 10%;
    background-color: black;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
.pdc, .smicon {
    color: white;
    padding: 10px;
    margin: 5px;
    text-decoration: none;
    font-family: "carving-regular";
    font-size: 14px;
 }
 .pdc:hover{
    color:#008080;
 }
.footerdiv { 
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding:10px;
}
.allrights{
  color: white;
  font-family: "carving-regular";
  font-size: 12px;
  font-style: italic;
  text-align: center;
  margin: 0px;
  padding-bottom: 15px;
  padding-top: 5px;
}
.legal, .socialmedia {
    text-align: center;
    width: 45%;
    align-content: center;
}
.legal {
    display: inline-flex;  
}
/*Media Querries footer*/
@media only screen and (max-width: 730px) {
    .legal, .socialmedia {
        width: 100%;
    }
    .legal {
        display: block;
        padding: 10px;
      }    
}
@media only screen and (max-width: 535px){
    .legal {
        display: grid;
        padding: 5px;
    }
    .pdc, .smicon {
        margin: 0px;
        padding: 5px;
    }
    .footerdiv {
        padding-bottom: 0px;
    }   
}
